/* styles for my final website */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background: whitesmoke;
}
main {
    width: 61.7%;
    float: left;
    margin-bottom: 40px;
}
aside {
    width: 36%;
    float: right;
}
#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
}


/* header styles */
header {
    overflow: hidden;
    background-color: black;
    margin-bottom: 40px;
}  
.header-inner {
    max-width: 1100px;
}  
#logo {
    float: left;
    width: 300px;
    margin-bottom: 20px;
}
.success {
    float: left;
    padding: 10px;
}
.welcome-logout, .welcome-logout a {
    float: right;
    color: whitesmoke;
}

/* nav styles */
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    padding: 100px 20px;
    font-size: 20px;
    text-transform: uppercase;  
}
nav a {
    text-decoration: none;
    color: whitesmoke;
}

/* home page styles */
.home_page_body {
    margin-bottom: 10em;
    display: inline-block;
}
.home_page_header {
    float: left;
    margin-left: 0;
    margin-bottom: 20px;
}
/* about page styles */
.about_page_body {
    margin-bottom: 10em;
    display: inline-block;
}
.about_page_header {
    float: left;
    margin-left: 0;
    margin-bottom: 20px;
}
/* switch page styles */
.switch_page_header {
    margin-bottom: 20px;
    font-size: 2.5em;
}
.recipe h1 {
    margin: 20px 0;
    font-size: 2em;
}
#daily_recipe {
    list-style-type: none;
}
#recipe_pic {
    margin-bottom: 20px;
}
.recipe h1 {
    text-transform: uppercase;
}
.recipe h2 {
    margin: 15px 0;
}
.recipe_links h2 {
    margin-bottom: 15px;
}

/* product page */
#product_list {
    list-style-type: none;
}
#product_name {
    font-weight: bold;
    margin: 5px 0;
    font-size: 1.5em;
}

/* contact page */

form {
    width: 400px;
    border: 3px solid teal;
  }
label {
    display: block;
  }
ul {
    list-style-type: none;
  }
li {
    padding: 3px;
  }
fieldset {
    padding: 10px;
  }
.error {
    display: block;
    color: red;
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
  }

/* footer styles */

footer {
    height: 50px;
    line-height: 50px;
    clear: both;
    background-color: black;
    color: white;
  }
  
  footer ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  footer li {
    display: inline;
    padding: 20px;
  }
footer a {
    text-decoration: none;
    color: #9c9056;
}