* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

form {
  width: 400px;
  margin: 30px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

fieldset {
  padding: 8px;
  border: 2px solid red;
}

form ul {
  margin-left: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.error {
  display: block;
  color: red;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 3px;
}

select {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 5px;
}
input[type="submit"] {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid black;
}
.box {
  width: 400px;
  margin: 10px auto;
  padding: 8px;
  border: 2px solid green;
}
h2 {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .videoRich {
    width: 600px;
    background-color: goldenrod;
    margin: 10px auto;
  }
  .videoPoor {
    width: 600px;
    background-color: gray;
    color: white;
    margin: 10px auto;
  }
  iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  footer {
    display: block;
    text-align: center;
  }
