/* Styles for our main website in it261*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: lightgray;
}
header {
  overflow: hidden;
  background-color: darkgrey;
}

.header-inner {
  max-width: 1100px;
  margin: 20px auto;
}

#logo {
  float: left;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

nav {
  float: right;
  height: 50px;
  line-height: 50px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  list-style-type: none;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

.current {
  color: darkblue;
  font-weight: bold;
}


#wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

img {
  max-width: 100%;
  display: block;
}


p {
  padding-bottom: 2em;
}
.gallery_heading {
  margin-left: 20px;
}

.function {
  font-size: 1em;
}

/* our valuses are based on a 940px grid 580 divided by 940 */
main {
  width: 61.7%;
  float: left;
  padding: 1em 4em 1em 0;
}
.gallery_heading {
  margin-bottom: 20px;
}
table {
  width: 1200px;
  margin-left: 20px;
}
td {
  width: 300px;
  padding: 10px;
}
.mushroom_name {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: center;
}
aside {
  width: 36.17%;
  float: right;
  padding: 1em 0;
}

#dailyMushroom {
  padding-top: 1em;
}

footer {
  height: 50px;
  line-height: 50px;
  clear: both;
  background-color: darkgrey;
}

footer li {
  float: left;
  list-style-type: none;
  margin-left: 2em;
}
/* form styles */

form {
  width: 400px;
  border: 3px solid teal;
}

label {
  display: block;
}
ul {
  list-style-type: none;
}
li {
  padding: 3px;
}
fieldset {
  padding: 10px;
}

.error {
  display: block;
  color: red;
  margin-bottom: 10px;
  margin-top: 5px;
  font-style: italic;
}
